<%- include('../layouts/admin/header', { title: 'Admin Panel', path: '/adminCategories'}) %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Categories</h2>
                        <p>Add, edit or delete a category</p>
                    </div>
                    <div>
                        <a href="addCategories" class="btn btn-primary btn-sm rounded">Create new</a>
                    </div>

                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-lg-4 col-md-6 me-auto">
                                    <input type="text" placeholder="Search..." class="form-control" id="inputThings" onkeyup="searchName()"/>
                                </div>
                                <br>
                                <div class="table-responsive">
                                    <table id="tableId" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Description</th>
                                                <th class="text-end">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%if(category.length>0){
                                                for(let i=0;i<category.length;i++){
                                             %>
                                            <tr>
                                                
                                                <td><%= category[i].name %></td>
                                                <td><%= category[i].description %></td>
                                                <td><%if(category[i].is_listed=== false){
                                                     %>
                                                    <button class="btn btn-sm font-sm rounded btn-danger" onclick="listCategory(this,'<%=category[i]._id %>')">Unlisted</button>
                                                    <% 
                                                     }else{
                                                     %> 
                                                     <button class="btn btn-sm font-sm rounded btn-success" onclick="listCategory (this,'<%=category[i]._id%>')">Listed</button>
                                                     <%
                                                    } %>
                                                </td>
                                                <td >
                                                    <a class="btn btn-sm font-sm rounded btn-primary" href='/admin/editCategories?id=<%= category[i]._id %>' >Edit</a>
                                                </td>
                                            </tr>
                                                 <%
                                                }
                                            } else { %>
                                             <tr>
                                                 <td colspan="5" style="text-align: center; padding: 10px;">Category not found</td>
                                            </tr>
                                             <% } %>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <% for(let j=1; j<=totalPages; j++){ %>
                            <li class="page-item active"><a class="page-link" href="?page=<%= j%>"><%= j%></a></li>
                            <% } %>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
        <script>
            function searchName(){
        
               var table,input,tr,i,filter
               input = document.getElementById('inputThings')
               table = document.getElementById('tableId')
               filter = input.value.toUpperCase()

               tr = table.getElementsByTagName('tr')
               for(i=0;i<tr.length;i++){
                    td=tr[i].getElementsByTagName('td')[0]
                    if(td){
                        txtValue=td.textContent
                        console.log(txtValue)
                        if(txtValue.toUpperCase().indexOf(filter)>-1){
                             tr[i].style.display=""
                        }else{
                            tr[i].style.display="none"
                        }
                    }
                }


             }
        </script>
        <script>
            function listCategory(tag,categoryId){
                if(tag.innerText=='Listed'){
                    tag.innerText='Unlisted'
                    tag.style.background='red'
                    tag.style.color='white'
                }else if(tag.innerText == 'Unlisted'){
                    tag.innerText='Listed'
                    tag.style.background='green'
                    tag.style.color='black'
                }
                fetch(`/admin/listCategory?categoryId=${categoryId}`)
            }
        </script>
    </body>
</html>
