<%- include('../layouts/admin/header', { title: 'Admin Panel', path: '/couponList'}) %>

            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Coupons</h2>
                        <p>Add, edit or delete a coupons</p>
                    </div>
                    <div>
                        <a href="addCoupon" class="btn btn-primary btn-sm rounded">Create new</a>
                    </div>

                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-lg-4 col-md-6 me-auto">
                                    <input type="text" placeholder="Search..." class="form-control" id="inputThings" onkeyup="searchName()"/>
                                </div>
                                <br>
                                <div class="table-responsive">
                                    <table id="tableId" class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Code</th>
                                                <th>Validity</th>
                                                <th>Minimum Amount</th>
                                                <th>Discount</th>
                                                <th>Status</th>
                                                <th class="text-end">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(couponData && couponData.length >0){%>
                                                
                                           <% couponData.forEach((coupon,index)=>{%>
                                            <tr>
                                                <td><%= index+1 %></td>
                                                <td><%= coupon.name %></td>
                                                <td><%= coupon.couponCode %></td>
                                                <td ><%= coupon.expiryDate.toLocaleDateString()%></td>
                                                <td ><%= coupon.minimumLimit %></td>
                                                <td ><%= coupon.offerPrice %></td>
                                                <td ><%= coupon.status %></td>
                                                <td>
                                                    <a href="/admin/editCoupon?id=<%= coupon._id %>" class="btn btn-sm font-sm rounded btn-brand"> <i class="material-icons md-edit"></i> Edit </a>
                                                    <%if(coupon.is_listed === true){%>
                                                    <button class="btn btn-sm font-sm rounded text-white btn-success " onclick="deleteCoupon(this,'<%=coupon._id%>') "> List </button>
                                                    <%}else{ %>
                                                    <button  class="btn btn-sm font-sm rounded text-white btn-danger " onclick="deleteCoupon(this,'<%=coupon._id%>') ">  Unlist </button>
                                                    <%} %> 
                                                </td>  
                                            </tr>
                                            <%}) %>
                                            <%}else{%>
                                                <tr>
                                                    <td colspan="5" style="text-align: center; padding: 10px;">Coupons not found</td>
                                               </tr>
                                            <%} %>
                                            
                                           
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- .col// -->
                        </div>
                        <!-- .row // -->
                    </div>
                    <!-- card body .// -->
                </div>
                <!-- card .// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
            
        <script>
            function deleteCoupon(tag,couponId){
                if(tag.innerText=='List'){
                    const confirmed = confirm('Are you sure you want to unlist this coupon?');
                    if(confirmed){
                    tag.innerText='Unlist'
                    tag.style.background='red'
                    tag.style.color='white'}
                }else if(tag.innerText == 'Unlist'){
                    const confirmed = confirm('Are you sure you want to list this coupon again?');
                    if(confirmed){
                    tag.innerText='List'
                    tag.style.background='green'
                    tag.style.color='black'}
                }
                fetch(`/admin/deleteCoupon?couponId=${couponId}`)
            }
        </script>
        
<%- include('../layouts/admin/footer', { path: '/salesReport' }) %>
