<%- include('../layouts/admin/header', { title: 'Admin Panel', path: '/editCoupon'}) %>

            <section class="content-main">
                <form action="/admin/addCoupon" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Edit the  Coupon</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="mb-4">
                                    <label for="product_title"  class="form-label">Product title</label>
                                    <input type="text" name="name" value="<%= couponData.name %>" placeholder="Type here" class="form-control" id="product_title" />
                                </div>
                                <div class="row gx-3">
                                    <div class="col-md-4 mb-3">
                                        <label for="product_sku" class="form-label">Validity Date</label>
                                            <input type="date" value="<%= couponData.expiryDate %>" name="expiryDate"  class="form-control" />
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="product_color" class="form-label">Offer Price</label>
                                        <input type="text"  value="<%= couponData.offerPrice %>"name="offerPrice" placeholder="Type here" class="form-control" id="product_color" />
                                    </div>
                                    <div class="col-md-4 mb-3">
                                        <label for="product_size" class="form-label">Minimum limit</label>
                                        <input type="text" value="<%= couponData.minimumLimit %>" name="minimumLimit" placeholder="Type here" class="form-control" id="product_size" />
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="product_brand" class="form-label">CouponId</label>
                                    <input value="<%= couponData.couponCode %>" placeholder="Type here" class="form-control" id="product_brand" />
                                </div>
                            </div>
                        </div>
                        <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div>
                                    <label class="form-label">Images</label>
                                    <input class="form-control" name="image" type="file" />
                                </div>
                            </div>
                        </div>
                        <!-- card end// -->
                    </div>
                </div>
                 <!-- row end// -->
                 <div class="row">
                    <div >
                        <button class="btn btn-primary" type="submit">Add Coupon</button>
                    </div>
                </div>
            </form>
          
            </section>
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
