<%- include('../layouts/admin/header', { title: 'Admin Panel', path: '/products'}) %>

<section class="content-main">
    <div class="row">
        <div class="col-6">
            <div class="content-header">
                <h2 class="content-title">Edit Product</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <form action="/admin/editproducts" method="post" enctype="multipart/form-data">
            <div class="col-lg-6">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>1. General info</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Product title</label>
                                    <input type="text" placeholder="Type here" value="<%= products.name %>" name="name" class="form-control">
                                    <span class="error-message" style="color: red;"><%= messages.name %></span>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Description</label>
                                    <textarea placeholder="Type here" name="description" class="form-control" rows="4"><%= products.description %></textarea>
                                    <span class="error-message" style="color: red;"><%= messages.description %></span>
                                </div>
                                <div class="mb-4">
                                    <input type="hidden" name="id" value="<%= products._id %>" />
                                    <% console.log('productId:', products._id); %>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Category</label>
                                    <select class="form-select" name="categories">
                                        <% for (let i = 0; i < categories.length; i++) { %>
                                            <option value="<%= categories[i]._id %>" <%= products.categories.equals(categories[i]._id) ? 'selected' : '' %>>
                                                <%= categories[i].name %>
                                            </option>
                                        <% } %>
                                    </select>
                                    <span class="error-message" style="color: red;"><%= messages.categories %></span>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>2. Pricing</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <label class="form-label">Cost in USD</label>
                                    <input type="text" placeholder="Rs.00.0" class="form-control" name="price" value="<%= products.price %>">
                                    <span class="error-message" style="color: red;"><%= messages.price %></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <h6>3. Stock</h6>
                            </div>
                            <div class="col-md-9">
                                <div class="mb-4">
                                    <input type="number" class="form-control" name="stock" value="<%= products.stock %>">
                                    <span class="error-message" style="color: red;"><%= messages.stock %></span>
                                </div>
                            </div>
                        </div>
                        <hr class="mb-4 mt-0">
                        <div class="row">
                            <div class="col-md-3">
                                <h6>4. Media</h6>
                            </div>
                            <span class="error-message" style="color: red;"><%= messages.image %></span>
                            <div class="col-md-9">
                                <% for (let i = 0; i < 4; i++) { %>
                                    <div class="col-lg-6 col-md-6 mb-3 rounded-image-preview">
                                        <label for="imageInput<%= i %>" class="image-label">Image <%= i + 1 %>
                                            <div class="rounded-image-preview" style="max-width: 100px; max-height: auto;">
                                                <img id="imagePreview<%= i %>" src="<%= products.image[i] ? products.image[i].url : '' %>" alt="Preview">
                                            </div>
                                            <input name="image" type="file" accept="image/*" id="imageInput<%= i %>" class="imageInput" onchange="previewImage(this, 'imagePreview<%= i %>')">
                                        </label>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-grid">
                                <button class="btn btn-primary" type="submit">Edit Product</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section> 

<script>
    function previewImage(input, previewId) {
        const preview = document.getElementById(previewId);
        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        } else {
            preview.src = "";
        }
    }
</script>

<%- include('../layouts/admin/footer', { path: '/editProducts' }) %>