<%- include('../layouts/admin/header', { title: 'Admin Panel', path: '/orders'}) %>

<section class="content-main">
    <div class="card mb-4">
        <header class="card-header">
            <h4 class="card-title">Orders list</h4>
            
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 me-auto">
                    <input type="text" placeholder="Search..." class="form-control" />
                </div>
                <div class="col-md-4 col-6">
                    <div class="custom_select dark">
                        <select class="form-select select-nice">
                            <option selected>All Categories</option>
                            <option>Women's Clothing</option>
                            <option>Men's Clothing</option>
                            <option>Cellphones</option>
                            <option>Computer & Office</option>
                            <option>Consumer Electronics</option>
                            <option>Jewelry & Accessories</option>
                            <option>Home & Garden</option>
                            <option>Luggage & Bags</option>
                            <option>Shoes</option>
                            <option>Mother & Kids</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2 col-6">
                    <div class="custom_select">
                        <select class="form-select select-nice">
                            <option selected>Status</option>
                            <option>All</option>
                            <option>Paid</option>
                            <option>Chargeback</option>
                            <option>Refund</option>
                        </select>
                    </div>
                </div>
            </div>
        </header>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table align-middle table-nowrap mb-0">
                    <thead class="table-light">
                        <tr>   
                            <th class="align-middle" scope="col">No.</th>
                            <th class="align-middle" scope="col">Order ID</th>
                            <th class="align-middle" scope="col">Billing Name</th>
                            <th class="align-middle" scope="col">Date</th>
                            <th class="align-middle" scope="col">Total</th>
                            <th class="align-middle" scope="col">Payment Status</th>
                            <th class="align-middle" scope="col">Payment Method</th>
                            <th class="align-middle" scope="col">View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orderData.forEach((order, index) => { %>
                            <tr>
                                <input type="hidden" name="productId" value="<%= order.productId %>">
                                <td><%= index+1 %></td>
                                <td><a href="#" class="fw-bold"><%=order._id.toString().toUpperCase().slice(-6) %></a></td>
                                <td><%= order.user_name %></td>
                                <td><%= new Date(order.date).toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' }) %></td>
                                <td>Rs.<%= order.total_amount.toFixed(2) %></td>
                                <td>
                                    <span class="badge badge-pill badge-soft-success"><%= order.status %></span>
                                </td>
                                <td><%= order.payment %></td>
                                <td>
                                    <a href="/admin/orderDetail?orderId=<%= order._id %>" class="btn btn-xs"> View details</a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    <div id="paginationId" class="pagination-area mt-30 mb-50">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-start">
                <% if (currentOrderPage > 1) { %>
                    <li class="page-item">
                        <a class="page-link" href="?orderPage=<%= currentOrderPage - 1 %>">
                            <i class="material-icons md-chevron_left"></i>
                        </a>
                    </li>
                <% } %>
        
                <% if (currentOrderPage > 3) { %>
                    <li class="page-item"><a class="page-link" href="?orderPage=1">01</a></li>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                <% } %>
        
                <% for (let j = Math.max(1, currentOrderPage - 2); j <= Math.min(totalOrderPages, currentOrderPage + 2); j++) { %>
                    <li class="page-item <%= j === currentOrderPage ? 'active' : '' %>">
                        <a class="page-link" href="?orderPage=<%= j %>"><%= j < 10 ? '0' + j : j %></a>
                    </li>
                <% } %>
        
                <% if (currentOrderPage < totalOrderPages - 2) { %>
                    <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                    <li class="page-item"><a class="page-link" href="?orderPage=<%= totalOrderPages %>"><%= totalOrderPages < 10 ? '0' + totalOrderPages : totalOrderPages %></a></li>
                <% } %>
        
                <% if (currentOrderPage < totalOrderPages) { %>
                    <li class="page-item">
                        <a class="page-link" href="?orderPage=<%= currentOrderPage + 1 %>">
                            <i class="material-icons md-chevron_right"></i>
                        </a>
                    </li>
                <% } %>
            </ul>
        </nav>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    document.querySelectorAll('.detail-btn').forEach(button => {
        button.addEventListener('click', event => {
            const orderId = event.target.dataset.orderId;
            window.location.href = `/admin/orderDetail/${orderId}`;
        });
    });
</script>

<script>
    async function statusChange(orderId, status) {
        console.log('status:', status);
        try {
            const response = await fetch(`/admin/statusChanged/${orderId}`, {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json' 
                },
                body: JSON.stringify({ status }) 
            });

            const responseData = await response.json();
            if (responseData.error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: responseData.error
                });
            } else {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: responseData.message
                }).then(() => {
                    window.location = '/admin/orderList';
                });
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred. Please try again later.'
            });
        }
    }
</script>

<script>
    async function cancelStatusChange(orderId, productId, status) {
        console.log('status:', status);
        try {
            const response = await fetch(`/admin/cancelStatusChanged/${orderId}`, {
                method: 'POST', 
                headers: {
                    'Content-Type': 'application/json' 
                },
                body: JSON.stringify({ status, productId }) 
            });
    
            const responseData = await response.json();
            if (responseData.error) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: responseData.error
                });
            } else {
                Swal.fire({
                    icon: 'success',
                    title: 'Success',
                    text: responseData.message
                }).then(() => {
                    window.location = '/admin/orderList';
                });
            }
        } catch (error) {
            console.error('Error:', error);
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'An error occurred. Please try again later.'
            });
        }
    }
</script>

<%- include('../layouts/admin/footer', { path: '/salesReport' }) %>