<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body class="dark">
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="index.html" class="brand-wrap">
                    <img src="assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href="home">
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="productList">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Products</span>
                        </a>
                    
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="userList">
                            <i class="icon material-icons md-people"></i>
                            <span class="text">Users</span>
                        </a>
                       
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="orderList">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                       
                    </li>
                    <li class="menu-item ">
                        <a class="menu-link" href="couponList">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Coupon</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="offerList">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">Offer</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="Categories">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text">Categories</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-transactions-1.html">
                            <i class="icon material-icons md-monetization_on"></i>
                            <span class="text">Transactions</span>
                        </a>
                        <div class="submenu">
                            <a href="page-transactions-1.html">Transaction 1</a>
                            <a href="page-transactions-2.html">Transaction 2</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-person"></i>
                            <span class="text">Account</span>
                        </a>
                        <div class="submenu">
                            <a href="page-account-login.html">User login</a>
                            <a href="page-account-register.html">User registration</a>
                            <a href="page-error-404.html">Error 404</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-reviews.html">
                            <i class="icon material-icons md-comment"></i>
                            <span class="text">Reviews</span>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-brands.html"> <i class="icon material-icons md-stars"></i> <span class="text">Brands</span> </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" disabled href="#">
                            <i class="icon material-icons md-pie_chart"></i>
                            <span class="text">Statistics</span>
                        </a>
                    </li>
                </ul>
                <hr />
                <ul class="menu-aside">
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="#">
                            <i class="icon material-icons md-settings"></i>
                            <span class="text">Settings</span>
                        </a>
                        <div class="submenu">
                            <a href="page-settings-1.html">Setting sample 1</a>
                            <a href="page-settings-2.html">Setting sample 2</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="page-blank.html">
                            <i class="icon material-icons md-local_offer"></i>
                            <span class="text"> Starter page </span>
                        </a>
                    </li>
                </ul>
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="searchform">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search order ID" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <div class="custom-select">
                                    <select id="filter" class="form-select">
                                        <option value="all">All</option>
                                        <option value="daily">Daily</option>
                                        <option value="weekly">Weekly</option>
                                        <option value="monthly">Monthly</option>
                                        <option value="yearly">Yearly</option>
                                        <option value="custom">Custom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-6 start-date-container" style="display: none;">
                                <label for="startDate">Start Date</label>
                                <input type="date" id="startDate" name="startDate" class="form-control" />
                            </div>
                            <div class="col-md-2 col-6 end-date-container" style="display: none;">
                                <label for="endDate">End Date</label>
                                <input type="date" id="endDate" name="endDate" class="form-control" />
                            </div>                    
                            <div class="col-md-2 col-6">
                                <button type="submit" class="btn btn-primary" id="generateButton"><i class="text-muted material-icons"></i>Generate</button>
                            </div>
                        </div>
                    </header>
                    
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive" id="downloadPdf">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th scope="col">Billing Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Offer Deduction</th>
                                        <th scope="col">Coupon Deduction</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Payment Method</th>
                                    </tr>
                                </thead>
                                <tbody id="productContainer">
                                    <% orderData.forEach((order,indexes)=>{%>
                                        <% order.products.forEach((product,index)=>{%>
                                          <% if(product.status === 'Delivered'){%>
                                            
                                    <tr>
                                        <td><%=order._id.toString().toUpperCase().slice(-6) %></td>
                                        <td><b><%= order.user_name %></b></td>
                                        <td><%= new Date(order.date).toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' }) %></td>
                                        <td><%= order.offerDiscount %></td>
                                        <td><%= order.couponDiscount%></td>
                                        <td><%= order.total_amount.toFixed(2) %></td>
                                        <td><%= order.payment%></td>
                                    </tr>
                                    <%} %> 
                                    <%} )%>
                 
                                    <%})%>
                                    <tr>
                                       <td colspan="5"></td>
                                        <td>Total Order Count</td>
                                        <td><%=count %></td>
                                    </tr>
                                     <tr>
                                        <td colspan="5"></td>
                                         <td>Total Offer Amount</td>
                                         <td><%= offerTotal %></td>
                                     </tr>
                                     <tr>
                                        <td colspan="5"></td>
                                         <td>Total Coupon Amount</td>
                                         <td><%= couponTotal%></td>
                                     </tr>
                                     <tr>
                                         <td colspan="5"></td>
                                          <td>Total Order Amount</td>
                                          <td><%=grandTotal%></td>
                                      </tr>

                                </tbody>
                            </table>
                          
                        </div>
                        <div>
                            <a href="#" id="downloadPdfBtn" class="btn btn-primary" onclick="convertToPDF()"><i class="text-muted material-icons md-post_add"></i>Download as Pdf</a>
                            <a href="#" id="downloadExcelBtn" class="btn btn-primary" onclick="convertToExcel()"><i class="text-muted material-icons md-post_add"></i>Download as Excel</a>
                        </div>

                        <div id="orderLists" class="pagination-area mt-30 mb-50">
                            <nav aria-label="Page navigation example ">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item "><a class="page-link" href="?page"></a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
               
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <script>
            document.querySelectorAll('.detail-btn').forEach(button => {
        button.addEventListener('click', event => {
        const orderId = event.target.dataset.orderId;
        window.location.href = `/admin/orderDetail/${orderId}`;
        });
    });

        </script>


        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>
        

   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
   
   <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

       <!-- excel download -->

        <script>
            function convertToExcel() {
            
            const table = document.getElementById('downloadPdf').querySelector('table');
            const wb = XLSX.utils.table_to_book(table);
            const wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
            const blob = new Blob([s2ab(wbout)], { type: 'application/octet-stream' });
            saveAs(blob, 'table_data.xlsx');
            }
            function s2ab(s) {
            const buf = new ArrayBuffer(s.length);
            const view = new Uint8Array(buf);
            for (let i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
            }
        </script>
         <!-- pdf download -->

        <script>
        function convertToPDF() {
            const element = document.getElementById('downloadPdf');
            setTimeout(() => {
            html2pdf()
                .from(element)
                .save();
            }, 1000);
        }
        </script>

    <!-------------------------- Filtering --------------------------->
    <script>
   document.addEventListener("DOMContentLoaded", function () {
    document.getElementById("filter").addEventListener("change", handleFilterChange);
    document.getElementById("generateButton").addEventListener("click", filterSalesReport);

    document.getElementById("endDate").value = new Date().toISOString().slice(0, 10);

    function handleFilterChange() {
        const filter = document.getElementById("filter").value;
        const startDateContainer = document.querySelector('.start-date-container');
        const endDateContainer = document.querySelector('.end-date-container');
        if (filter === "custom") {
            startDateContainer.style.display = 'block';
            endDateContainer.style.display = 'block';
        } else {
            startDateContainer.style.display = 'none';
            endDateContainer.style.display = 'none';
        }
    }

    function filterSalesReport() {
        const filter = document.getElementById("filter").value;
        const startDate = document.querySelector("[name='startDate']").value;
        const endDate = document.querySelector("[name='endDate']").value;

        let startDateValue = "";
        let endDateValue = "";
        const currentDate = new Date();

        if (filter === 'custom' && startDate && endDate) {
            startDateValue = startDate;
            endDateValue = endDate;
        } else {
            if (filter === 'daily') {
                const yesterdayDate = new Date(currentDate);
                yesterdayDate.setDate(yesterdayDate.getDate() - 1);
                startDateValue = (yesterdayDate);
                endDateValue = (currentDate);
            } else if (filter === 'weekly') {
                const lastWeekDate = new Date(currentDate);
                lastWeekDate.setDate(lastWeekDate.getDate() - 7);
                startDateValue = (lastWeekDate);
                endDateValue = (currentDate);
            } else if (filter === 'monthly') {
                const firstDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth(), 1);
                const lastDayOfMonth = new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 0);
                startDateValue = (firstDayOfMonth);
                endDateValue = (lastDayOfMonth);
            } else if (filter === 'yearly') {
                const firstDayOfYear = new Date(currentDate.getFullYear(), 0, 1);
                const lastDayOfYear = new Date(currentDate.getFullYear(), 11, 31);
                startDateValue = (firstDayOfYear);
                endDateValue = (lastDayOfYear);
            }
        }

        const url = `/admin/filterSalesReport`;

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ filter, startDate: startDateValue, endDate: endDateValue })
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            if (data.status === 'success') {
                console.log('Filter used:', data.filter);

                const productContainer = document.getElementById('productContainer')
                 let productHTML = '';
                 data.filter.forEach(order=>{
                    productHTML+=` <tr>
                                        <td>${order._id.toString().toUpperCase().slice(-6)}</td>
                                        <td><b>${order.user_name }</b></td>
                                        <td>${ new Date(order.date).toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' })}</td>
                                        <td>${ order.offerDiscount }</td>
                                        <td>${ order.couponDiscount}</td>
                                        <td>${ order.total_amount.toFixed(2) }</td>
                                        <td>${ order.payment}</td>
                                    </tr>`
                 })

                 productContainer.innerHTML = productHTML;
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
});

</script>    
    



  
        
    </body>
</html>
