<!DOCTYPE html>
<html lang="en">


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Molla - Bootstrap eCommerce Template</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="assets/images/icons/site.html">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <style>
        .wrapper {
            display: flex;
            align-items: center;
        }
    
        .coupon_card {
            width: 100%; 
            max-width: 300px; 
            padding: 20px;
            border-radius: 20px;
            background: rgb(253, 196, 89);
            color: #fff;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            overflow: hidden; 
        }
    
        .content {
            z-index: 10;
        }
    
        .cross-bg {
            height: 100%;
            width: 100%;
            position: absolute;
            background-color: #b07727;
            left: 0px;
            top: 0px;
            opacity: 0.4;
            clip-path: polygon(50% 0%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
            z-index: 1;
        }
    
        .logo {
            margin-bottom: 20px;
        }
    
        .off {
            line-height: 1;
            font-size: 40px;
        }
    
        .plus {
            font-size: 18px;
        }
    
        .code {
            /* text-transform: uppercase; */
            padding: 10px;
            background-color: #fff;
            color: rgb(255, 111, 0);
            font-size: 16px;
        }
    </style>
    
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">Usd</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">Eur</a></li>
                                    <li><a href="#">Usd</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->

                        <div class="header-dropdown">
                            <a href="#">Eng</a>
                            <div class="header-menu">
                                <ul>
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </div><!-- End .header-menu -->
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#">Links</a>
                                <ul>
                                    <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                    <li><a href="wishlist.html"><i class="icon-heart-o"></i>Wishlist <span>(3)</span></a></li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                    <li><a href="#signin-modal" data-toggle="modal"><i class="icon-user"></i>Login</a></li>
                                </ul>
                            </li>
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container">
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/products">Products</a>
                                </li>
                                <li>
                                    <a href="/about">About</a>
                                </li>
                                <li>
                                    <a href="/contact">Contact</a>
                                </li>
                                <li class=" active">
                                    <a href="/profile">Profile</a>
                                </li>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        <div class="dropdown cart-dropdown">
                            <a href="/wishlist" class="dropdown-toggle" role="button">
                                <i class="icon-heart-o"></i>
                                <% if(wishlistData && wishlistData.products.length>0){ %>
                                    <span class="cart-count"><%= wishlistData.products.length %></span>
                                <% } %>
                            </a>
                        </div><!-- End .cart-dropdown -->

                        <div class="dropdown cart-dropdown">
                            <a href="/cart" class="dropdown-toggle" role="button" >
                                <i class="icon-shopping-cart"></i>
                                <% if(cartData && cartData.products.length>0){%>
                                    <span class="cart-count"><%= cartData.products.length %></span>
                                
                                <%} %>
                            </a>
                        </div><!-- End .cart-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">My Account<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                        <li class="breadcrumb-item" aria-current="page" style="display: none;">My Account</li>
                        <li class="breadcrumb-item active" aria-current="page" style="display: none;">Orders</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-4 col-lg-3">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
								    <li class="nav-item">
								        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="true">Dashboard</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="true">Orders</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Downloads</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="false">Account Details</a>
								    </li>
                                    <li class="nav-item">
								        <a class="nav-link" id="tab-coupon-link" data-toggle="tab" href="#tab-coupon" role="tab" aria-controls="tab-coupon" aria-selected="false">Available coupons</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="/logout">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
								    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
								    	<p>Hello <span class="font-weight-normal text-dark"><%= userData.name  %></span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
								    	<br>
								    	From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
								    </div><!-- .End .tab-pane -->
                                    
                                    <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                              
                                        <table id="orderList" class="table table-cart table-mobile">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Payment</th>
                                                    <th>Date</th>
                                                    <th>Action</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                         
                                            <tbody>
                                                <% if(orderData && orderData.length>0){%> 
                                                <% orderData.forEach((order)=>{%>
                                                    
                                                    <% order.products.forEach((value,index)=>{ %>
                                                   <tr >
                                                        <input type="hidden" name="productId" value="<%= value.productId %>">
                                                        <td class="product-col">
                                                            <div class="product">
                                                                    <figure class="product-media">
                                                                        <a href="#" onclick="toOrder('<%= value.productId._id %>')"  id="toOrderDetails" aria-controls="orderDetails" aria-selected="false">
                                                                            <img src="<%= value.productId.image[0]%>" alt="Product image">
                                                                        </a>
                                                                    </figure>
                                                                <h3 class="product-title">
                                                                     <a href="#"><%= value.productId.name %></a>
                                                                </h3><!-- End .product-title -->
                                                            </div><!-- End .product -->
                                                        </td>
                                                        
                                                        <td  class="product-title"><%= order.payment %></td>
                                                      
                                                        <td class="price-col" id="totalPrice"><%= new Date(order.date).toLocaleDateString('en-US', { month: 'short', day: '2-digit', year: 'numeric' }) %></td>
                                                        <td>
                                                            
                                                            <%if(value.status === 'cancelled'){%>
                                                                <button type="submit" class="btn btn-outline-primary-2 disabled">
                                                                    <span>Cancelled</span>
                                                                    </button>
                                                            <%}else if(value.status === 'Delivered'){%>
                                                                <button type="submit"  class="btn btn-outline-primary-2 " onclick="returnProduct('<%= value.productId._id %>','<%= order._id%>')">
                                                                    <span>Return</span>
                                                                    </button>
                                                            <%}else if(value.status == 'Return Approved'){%>
                                                                <button type="submit"  class="btn btn-outline-primary-2 " onclick="cancelOrder(this,'<%= value.productId._id %>','<%= order._id%>')">
                                                                    <span>Return Approved</span>
                                                                    </button>
                                                            <%}else{%>
                                                                <button type="submit"  class="btn btn-outline-primary-2 " onclick="cancelOrder(this,'<%= value.productId._id %>','<%= order._id%>')">
                                                                    <span>Cancel</span>
                                                                    </button>
                                                            <%}%>
                                                            
                                                       </td>
                                                    </tr>
                                                    
                                              
                                                   
                                                        <div class="row" id="orderDetails<%= value.productId._id %>"  style="display: none;">
                                                            <div class="col-lg-4">
                                                                    <div class="card card-dashboard">
                                                                        <div class="card-body">
                                                                            <h3 class="card-title">Customer</h3><!-- End .card-title -->
                                                                            <p><%= order.userId.name%><br>
                                                                                <%= order.userId.email%><br>
                                                                                <%= order.userId.mobile%><br>
                                                                           
                                                                         
                                                                        </div><!-- End .card-body -->
                                                                    </div><!-- End .card-dashboard -->
                                                            </div><!-- End .col-lg-4 -->
                                                            <div class="col-lg-4">
                                                                <div class="card card-dashboard">
                                                                    <div class="card-body">
                                                                            <h3 class="card-title">Order info</h3><!-- End .card-title -->
                                                                            <p>Shipping:Fargo Express<br>
                                                                                Pay method:<%= order.payment%><br>
                                                                                Status:<%= value.status%><br>
                                                                         
                                                                    </div><!-- End .card-body -->
                                                                </div><!-- End .card-dashboard -->
                                                            </div><!-- End .col-lg-4 -->
                                                           
                                                            <div class="col-lg-4">
                                                                <div class="card card-dashboard">
                                                                    <div class="card-body">
                                                                        <h3 class="card-title">Deliver to</h3><!-- End .card-title -->
                                                                           
                                                                        <p><%=order.delivery_address.name%><br>
                                                                            <%=order.delivery_address.streetAddress%><br>
                                                                            <%=order.delivery_address.city%>,<%=order.delivery_address.pincode%><br>
                                                                            <%= order.delivery_address.state%><br>
                                                                               
                                                                    </div><!-- End .card-body -->
                                                                </div><!-- End .card-dashboard -->
                                                            </div><!-- End .col-lg-4 -->
                                                            <div class="col-lg-12 text-right">
                                                            <a onclick="toOrderlist('<%= value.productId._id %>')" href="#tab-orders" id="toOrderlists">back</a>
                                                            </div>
                                                        </div>
                                                        <%}) %>
                                                    <% }) %>
                                                        
                                                <%}else{%>
                                                    <p>No order has been made yet.</p>
                                                    <a href="/products" class="btn btn-outline-primary-2"><span>GO SHOP </span><i class="icon-long-arrow-right"></i></a>
                                                <%} %>
                                                     
                                            </tbody>
                                            
                                        </table> 
                                       
                                        <!-- End .table table-wishlist  -->
                                        <div id="paginationId" class="pagination-area mt-30 mb-50">
                                            <nav aria-label="Page navigation example ">
                                                <ul class="pagination justify-content-center">
                                                    <% for(let j=1; j<=totalPages; j++){ %>
                                                    <li class="page-item <%= j === currentPage ? "active":" "%>"><a class="page-link" href="?page=<%= j%>"><%= j%></a></li>
                                                    <% } %>
                                                    <li class="page-item">
                                                        <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div> 

                                    </div><!-- .End .tab-pane -->
								    <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
								    	<p>No downloads available yet.</p>
								    	<a href="/products" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
								    </div><!-- .End .tab-pane -->

								    <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                       
								    	<p>The following addresses will be used on the checkout page by default.</p>
                                       
                                        <a href="" id="showAddAddress" aria-controls="addAddress" aria-selected="false">Add address <i class="icon-edit"></i></a></p>
								    	<div class="row"  >
                                            <%  if(userData && userData.addresses.length>0){ %>
                                                
                                              <%  userData.addresses.forEach((value)=>{%>
                                                <div  class="col-lg-6" >
                                                    
                                                    <div id="cardId<%= value._id %>" class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title">Billing Address</h3><!-- End .card-title -->
    
                                                            <p><%= value.name%><br>
                                                                <%= value.streetAddress%><br>
                                                                <%= value.city%><br>
                                                                <%= value.state%><br>
                                                                <%= value.country%><br>
                                                                <%= value.pincode%><br>
                                                                <%= value.landMark%><br>
                                                                <%= value.mobile%><br>
                                                                <%= value.email%><br>
                                                            <button onclick="showEditAddress('<%=value._id%>')" id="showeditAddress" aria-controls="editAddress" aria-selected="false">Edit <i class="icon-edit"></i></button></p>
                                                            
                                                            <button onclick="deleteAddress('<%= value._id %>')" >Delete</button></p>
                                                        </div><!-- End .card-body -->
                                                    </div><!-- End .card-dashboard -->
                                                </div><!-- End .col-lg-6 -->
                                          
                                                <div id="editAddress<%=value._id%>"  style="display: none;" >
                                                    <div class="col-lg-12 text-right">
                                                        <a onclick="toAddressList('<%=value._id%>')" href="#tab-address" id="toAddressList">back</a>
                                                        </div>
                                                    <form action="/editAddress" method="post">
                                                    <div>
                                                        <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                      
                                                            <input type="hidden" name="_id" value="<%=value._id%>">
                                                            <label>User Name </label>
                                                            <input name="name" type="text" class="form-control" value="<%= value.name%>">
                    
                                                            <label>Country </label>
                                                            <input name="country" type="text" class="form-control" value="<%= value.country%>" required>
                    
                                                            <label>Street address </label>
                                                            <input name="streetName" type="text" class="form-control" placeholder="House number and Street name" value="<%= value.streetAddress%>" required>
                                                            <input name="landMark" type="text" class="form-control" placeholder="LandMark" value="<%= value.landMark%>" required>
                    
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label>Town / City </label>
                                                                    <input name="town" type="text" class="form-control" value="<%= value.city%>" required>
                                                                </div><!-- End .col-sm-6 -->
                    
                                                                <div class="col-sm-6">
                                                                    <label>State / County </label>
                                                                    <input name="state" type="text" class="form-control" value="<%= value.state%>" required>
                                                                </div><!-- End .col-sm-6 -->
                                                            </div><!-- End .row -->
                    
                                                            <div class="row">
                                                                <div class="col-sm-6">
                                                                    <label>Postcode / ZIP </label>
                                                                    <input name="pin" type="text" class="form-control" value="<%= value.pincode%>"  required>
                                                                </div><!-- End .col-sm-6 -->
                    
                                                                <div class="col-sm-6">
                                                                    <label>Phone </label>
                                                                    <input name="phone" type="tel" class="form-control" value="<%= value.mobile%>" required>
                                                                </div><!-- End .col-sm-6 -->
                                                            </div><!-- End .row -->
                                                            
                                                            <label>Email </label>
                                                            <input name="email" type="email" class="form-control" value="<%= value.email%>" required>
                    
                                                            <button type="submit" class="btn btn-outline-primary-2">
                                                                <span>Edit address</span>
                                                                <i class="icon-long-arrow-right"></i>
                                                            </button>
                                                    </div>
                                                    </form>
                                                </div>
                                              <%

                                              })%>
								    		
                                            <% }else{%>
								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					<h3 class="card-title">Billing Address</h3><!-- End .card-title -->

														<p>You have not set up this type of address yet.<br>
														<a href="" id="showAddAddress" aria-controls="addAddress" aria-selected="false">Add address <i class="icon-edit"></i></a></p>
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
                                            <% } %>
								    	</div><!-- End .row -->
                                    

                                        <div class="row" id="addAddress"  style="display: none;" >
                                            <div class="col-lg-12 text-right">
                                                <a onclick="toAddressLists()" href="#tab-address" id="toAddressList">back</a>
                                                </div>
                                            <form action="/addAddress" method="post">
                                                <div class="col-lg-9">
                                                    <h2 class="checkout-title">Billing Details</h2>
                                                    <label>User Name </label>
                                                    <input name="name" type="text" class="form-control">
                                            
                                                    <label>Country </label>
                                                    <input name="country" type="text" class="form-control" required>
                                            
                                                    <label>Street address </label>
                                                    <input name="streetName" type="text" class="form-control" placeholder="House number and Street name" required>
                                                    <input name="landMark" type="text" class="form-control" placeholder="LandMark" required>
                                            
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Town / City </label>
                                                            <input name="town" type="text" class="form-control" required>
                                                        </div>
                                            
                                                        <div class="col-sm-6">
                                                            <label>State / County </label>
                                                            <input name="state" type="text" class="form-control" required>
                                                        </div>
                                                    </div>
                                            
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <label>Postcode / ZIP </label>
                                                            <input name="pin" type="text" class="form-control" required>
                                                        </div>
                                            
                                                        <div class="col-sm-6">
                                                            <label>Phone </label>
                                                            <input name="phone" type="tel" class="form-control" required>
                                                        </div>
                                                    </div>
                                                    
                                                    <label>Email </label>
                                                    <input name="email" type="email" class="form-control" required>
                                            
                                                    <button type="submit" class="btn btn-outline-primary-2">
                                                        <span>Add address</span>
                                                        <i class="icon-long-arrow-right"></i>
                                                    </button>
                                                </div>
                                            </form>
                                            
                                        </div>
                                   
								    </div><!-- .End .tab-pane -->

                                    <!------------------------------------------------------- Account Details  ---------------------------------------->

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
                                        <div id="accountDetails">
                                            <div class="card mb-3">
                                                <div class="card-body">
                                                    <h5 class="card-title">Account Details</h5>
                                                    <p class="card-text">
                                                        <strong>Name:</strong> <%= userData.name %><br>
                                                        <strong>Email:</strong> <%= userData.email %><br>
                                                        <strong>Mobile:</strong> <%= userData.mobile %><br>
                                                    </p>
                                                    <button class="btn btn-primary" onclick="showEditDetails()" id="showeditDetails">
                                                        Edit <i class="icon-edit"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <% if(walletData){%>
                                            <div class="card">
                                                <div class="card-body">
                                                    <h5 class="card-title">Wallet Amount</h5>
                                                    
                                                      
                                                    <h4><%= walletData.walletAmount.toFixed(2) %></h4> 
                                                   
                                                    <button onclick="showWalletHistory()" class="btn btn-outline-primary">Wallet History</button>
                                                </div>
                                            </div>
                                            <%}%>
                                        </div>
                                       
                                            
                                            
                                         <div id="walletHistory" style="display: none;">
                                            <div class="col-lg-12 text-right">
                                                <a onclick="toaccountDetails()" href="#tab-account" id="">back</a>
                                                </div>
                                            <div class="table-responsive">
                                                <table id="tableId" class="table table-hover">
                                                    <thead >
                                                        <tr>
                                                            <th scope="col">Description</th>
                                                            <th scope="col">Amount</th>
                                                            <th scope="col">Date</th>
                                                            <th scope="col">Status</th>
                                                        </tr>
                                                    </thead>
                                                    <% if(walletData ){%>
                                                       
                                                    <% walletData.walletHistory.forEach(wallet=>{%>
                                                    <tbody>
                                                        <tr>
                                                            <td><%= wallet.description %></td>
                                                            <td><%= wallet.amount %></td>
                                                            <td><%= wallet.date.toLocaleDateString() %></td>
                                                            <td><%= wallet.status %></td>
                                                        </tr>
                                                    </tbody>
                                                    <%}) %>
                                                    <%} %>

                                                </table>
                                                <div id="paginationId" class="pagination-area mt-30 mb-50">
                                                    <nav aria-label="Page navigation example ">
                                                        <ul class="pagination justify-content-center">
                                                            <% for(let j=1; j<=totalPages; j++){ %>
                                                            <li class="page-item <%= j === currentPage ? "active":" "%>"><a class="page-link" href="?page=<%= j%>"><%= j%></a></li>
                                                            <% } %>
                                                            <li class="page-item">
                                                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                </div> 
                                            </div>
                                         </div>
                                       
                                        
                                        <div id="editDetails" style="display: none;">
                                            <div class="col-lg-12 text-right">
                                                <a onclick="toaccountDetail()" href="#tab-account" id="">back</a>
                                                </div>

								    	<form action="/profile" method="post" >
                                           
		            						<label> Name </label>
		            						<input type="text" class="form-control" name="updatedName" value="<%= userData.name  %>" required>
		            						<small class="form-text"></small>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Email address </label>
                                                    <input type="email" class="form-control" name="userEmail" value="<%= userData.email  %>" required>
                                                </div><!-- End .col-sm-6 -->
    
                                                <div class="col-sm-6">
                                                    <label>Mobile</label>
                                                    <input type="number" class="form-control" name="updatedMobile" value="<%= userData.mobile %>" required>
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <h2 class="checkout-title" style="margin-top: 0rem;margin-bottom: 1rem;">Password Change</h2>
		            						<label>Current password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control" name="currentPassword">

		            						<label>New password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control" name="newPassword">

		            						<label>Confirm new password</label>
		            						<input type="password" class="form-control mb-2" name="confirmPassword">

		                					<button onclick="editDetails()" type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
                                        </div>
                                   
								    </div><!-- .End .tab-pane -->
                                  
                                        <div class="tab-pane fade " id="tab-coupon" role="tabpanel" aria-labelledby="tab-coupon-link">
                                            <div class=" row wrapper d-flex justify-content-around ">
                                            <% if(couponData && couponData.length>0){ %>
                                                <% couponData.forEach(coupon=>{%>
                                                <div class="col-lg-6 coupon_card card mb-5">
                                                    <div class="cross-bg"></div>
                                                    <div class="content">
                                                        <div class="text-center text-uppercase text-white off">
                                                            <h1 class="mt-0"><%= coupon.offerPrice %></h1>
                                                        </div>
                                                        <div class="text-center text-white">
                                                            <span class="plus"><%= coupon.name %></span>
                                                        </div>
                                                        <div class="text-center text-uppercase text-white">
                                                            <h3 class="m-0"><%= coupon.expiryDate.toLocaleDateString() %></h3>
                                                        </div>
                                                        <div class="code text-center mt-4">
                                                            <span>Use code: <%= coupon.couponCode %></span>
                                                            <% const usedUser = coupon.usedUsers.find(user => user.userId.toString() === userId) %>
                                                            <% if (usedUser && Boolean(usedUser.status)) { %>
                                                                <button class="copy-btn" data-coupon-code="<%= coupon.couponCode %>" disabled>Copy Code</button>
                                                            <% } else { %>
                                                                <button class="copy-btn" data-coupon-code="<%= coupon.couponCode %>">Copy Code</button>
                                                            <% } %>
                                                        </div>
                                                        
                                                        
                                                    </div>
                                                </div>
                                            <%}) %>     
                                            <%}else{%>
                                            </div>
                                                <p>No coupon exist</p>
                                                <a href="/products" class="btn btn-outline-primary-2"><span>GO SHOP </span><i class="icon-long-arrow-right"></i></a>
                                            <%} %>
                                        </div>
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->

        <footer class="footer">
        	<div class="footer-middle">
	            <div class="container">
	            	<div class="row">
	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget widget-about">
	            				<img src="assets/images/logo.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
	            				<p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

	            				<div class="social-icons">
	            					<a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
	            					<a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
	            				</div><!-- End .soial-icons -->
	            			</div><!-- End .widget about-widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Useful Links</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="about.html">About Molla</a></li>
	            					<li><a href="#">How to shop on Molla</a></li>
	            					<li><a href="#">FAQ</a></li>
	            					<li><a href="contact.html">Contact us</a></li>
	            					<li><a href="login.html">Log in</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Payment Methods</a></li>
	            					<li><a href="#">Money-back guarantee!</a></li>
	            					<li><a href="#">Returns</a></li>
	            					<li><a href="#">Shipping</a></li>
	            					<li><a href="#">Terms and conditions</a></li>
	            					<li><a href="#">Privacy Policy</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->

	            		<div class="col-sm-6 col-lg-3">
	            			<div class="widget">
	            				<h4 class="widget-title">My Account</h4><!-- End .widget-title -->

	            				<ul class="widget-list">
	            					<li><a href="#">Sign In</a></li>
	            					<li><a href="cart.html">View Cart</a></li>
	            					<li><a href="#">My Wishlist</a></li>
	            					<li><a href="#">Track My Order</a></li>
	            					<li><a href="#">Help</a></li>
	            				</ul><!-- End .widget-list -->
	            			</div><!-- End .widget -->
	            		</div><!-- End .col-sm-6 col-lg-3 -->
	            	</div><!-- End .row -->
	            </div><!-- End .container -->
	        </div><!-- End .footer-middle -->

	        <div class="footer-bottom">
	        	<div class="container">
	        		<p class="footer-copyright">Copyright  2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
	        		<figure class="footer-payments">
	        			<img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
	        		</figure><!-- End .footer-payments -->
	        	</div><!-- End .container -->
	        </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

    <div class="mobile-menu-container">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">Search</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>
            
            <nav class="mobile-nav">
                <ul class="mobile-menu">
                    <li class="active">
                        <a href="index.html">Home</a>

                        <ul>
                            <li><a href="index-1.html">01 - furniture store</a></li>
                            <li><a href="index-2.html">02 - furniture store</a></li>
                            <li><a href="index-3.html">03 - electronic store</a></li>
                            <li><a href="index-4.html">04 - electronic store</a></li>
                            <li><a href="index-5.html">05 - fashion store</a></li>
                            <li><a href="index-6.html">06 - fashion store</a></li>
                            <li><a href="index-7.html">07 - fashion store</a></li>
                            <li><a href="index-8.html">08 - fashion store</a></li>
                            <li><a href="index-9.html">09 - fashion store</a></li>
                            <li><a href="index-10.html">10 - shoes store</a></li>
                            <li><a href="index-11.html">11 - furniture simple store</a></li>
                            <li><a href="index-12.html">12 - fashion simple store</a></li>
                            <li><a href="index-13.html">13 - market</a></li>
                            <li><a href="index-14.html">14 - market fullwidth</a></li>
                            <li><a href="index-15.html">15 - lookbook 1</a></li>
                            <li><a href="index-16.html">16 - lookbook 2</a></li>
                            <li><a href="index-17.html">17 - fashion store</a></li>
                            <li><a href="index-18.html">18 - fashion store (with sidebar)</a></li>
                            <li><a href="index-19.html">19 - games store</a></li>
                            <li><a href="index-20.html">20 - book store</a></li>
                            <li><a href="index-21.html">21 - sport store</a></li>
                            <li><a href="index-22.html">22 - tools store</a></li>
                            <li><a href="index-23.html">23 - fashion left navigation store</a></li>
                            <li><a href="index-24.html">24 - extreme sport store</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="category.html">Shop</a>
                        <ul>
                            <li><a href="category-list.html">Shop List</a></li>
                            <li><a href="category-2cols.html">Shop Grid 2 Columns</a></li>
                            <li><a href="category.html">Shop Grid 3 Columns</a></li>
                            <li><a href="category-4cols.html">Shop Grid 4 Columns</a></li>
                            <li><a href="category-boxed.html"><span>Shop Boxed No Sidebar<span class="tip tip-hot">Hot</span></span></a></li>
                            <li><a href="category-fullwidth.html">Shop Fullwidth No Sidebar</a></li>
                            <li><a href="product-category-boxed.html">Product Category Boxed</a></li>
                            <li><a href="product-category-fullwidth.html"><span>Product Category Fullwidth<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="checkout.html">Checkout</a></li>
                            <li><a href="wishlist.html">Wishlist</a></li>
                            <li><a href="#">Lookbook</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="product.html" class="sf-with-ul">Product</a>
                        <ul>
                            <li><a href="product.html">Default</a></li>
                            <li><a href="product-centered.html">Centered</a></li>
                            <li><a href="product-extended.html"><span>Extended Info<span class="tip tip-new">New</span></span></a></li>
                            <li><a href="product-gallery.html">Gallery</a></li>
                            <li><a href="product-sticky.html">Sticky Info</a></li>
                            <li><a href="product-sidebar.html">Boxed With Sidebar</a></li>
                            <li><a href="product-fullwidth.html">Full Width</a></li>
                            <li><a href="product-masonry.html">Masonry Sticky Info</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <ul>
                            <li>
                                <a href="about.html">About</a>

                                <ul>
                                    <li><a href="about.html">About 01</a></li>
                                    <li><a href="about-2.html">About 02</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact.html">Contact</a>

                                <ul>
                                    <li><a href="contact.html">Contact 01</a></li>
                                    <li><a href="contact-2.html">Contact 02</a></li>
                                </ul>
                            </li>
                            <li><a href="login.html">Login</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                            <li><a href="404.html">Error 404</a></li>
                            <li><a href="coming-soon.html">Coming Soon</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="blog.html">Blog</a>

                        <ul>
                            <li><a href="blog.html">Classic</a></li>
                            <li><a href="blog-listing.html">Listing</a></li>
                            <li>
                                <a href="#">Grid</a>
                                <ul>
                                    <li><a href="blog-grid-2cols.html">Grid 2 columns</a></li>
                                    <li><a href="blog-grid-3cols.html">Grid 3 columns</a></li>
                                    <li><a href="blog-grid-4cols.html">Grid 4 columns</a></li>
                                    <li><a href="blog-grid-sidebar.html">Grid sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Masonry</a>
                                <ul>
                                    <li><a href="blog-masonry-2cols.html">Masonry 2 columns</a></li>
                                    <li><a href="blog-masonry-3cols.html">Masonry 3 columns</a></li>
                                    <li><a href="blog-masonry-4cols.html">Masonry 4 columns</a></li>
                                    <li><a href="blog-masonry-sidebar.html">Masonry sidebar</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Mask</a>
                                <ul>
                                    <li><a href="blog-mask-grid.html">Blog mask grid</a></li>
                                    <li><a href="blog-mask-masonry.html">Blog mask masonry</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">Single Post</a>
                                <ul>
                                    <li><a href="single.html">Default with sidebar</a></li>
                                    <li><a href="single-fullwidth.html">Fullwidth no sidebar</a></li>
                                    <li><a href="single-fullwidth-sidebar.html">Fullwidth with sidebar</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="elements-list.html">Elements</a>
                        <ul>
                            <li><a href="elements-products.html">Products</a></li>
                            <li><a href="elements-typography.html">Typography</a></li>
                            <li><a href="elements-titles.html">Titles</a></li>
                            <li><a href="elements-banners.html">Banners</a></li>
                            <li><a href="elements-product-category.html">Product Category</a></li>
                            <li><a href="elements-video-banners.html">Video Banners</a></li>
                            <li><a href="elements-buttons.html">Buttons</a></li>
                            <li><a href="elements-accordions.html">Accordions</a></li>
                            <li><a href="elements-tabs.html">Tabs</a></li>
                            <li><a href="elements-testimonials.html">Testimonials</a></li>
                            <li><a href="elements-blog-posts.html">Blog Posts</a></li>
                            <li><a href="elements-portfolio.html">Portfolio</a></li>
                            <li><a href="elements-cta.html">Call to Action</a></li>
                            <li><a href="elements-icon-boxes.html">Icon Boxes</a></li>
                        </ul>
                    </li>
                </ul>
            </nav><!-- End .mobile-nav -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->


 <!-- Order cancel modal -->
 <div class="modal fade" id="cancelConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="cancelConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cancelConfirmationModalLabel">Cancel Order Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to cancel this order?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="confirmCancelBtn">Yes, Cancel Order</button>
        </div>
      </div>
    </div>
  </div>



    <!-- Sign in / Register Modal -->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"><i class="icon-close"></i></span>
                    </button>

                    <div class="form-box">
                        <div class="form-tab">
                            <ul class="nav nav-pills nav-fill" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tab-content-5">
                                <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="singin-email">Username or email address *</label>
                                            <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="singin-password">Password *</label>
                                            <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>LOG IN</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="signin-remember">
                                                <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                            </div><!-- End .custom-checkbox -->

                                            <a href="#" class="forgot-link">Forgot Your Password?</a>
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                    <form action="#">
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="register-email" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="register-password" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SIGN UP</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>

                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                                <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                            </div><!-- End .custom-checkbox -->
                                        </div><!-- End .form-footer -->
                                    </form>
                                    <div class="form-choice">
                                        <p class="text-center">or sign in with</p>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login btn-g">
                                                    <i class="icon-google"></i>
                                                    Login With Google
                                                </a>
                                            </div><!-- End .col-6 -->
                                            <div class="col-sm-6">
                                                <a href="#" class="btn btn-login  btn-f">
                                                    <i class="icon-facebook-f"></i>
                                                    Login With Facebook
                                                </a>
                                            </div><!-- End .col-6 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .form-choice -->
                                </div><!-- .End .tab-pane -->
                            </div><!-- End .tab-content -->
                        </div><!-- End .form-tab -->
                    </div><!-- End .form-box -->
                </div><!-- End .modal-body -->
            </div><!-- End .modal-content -->
        </div><!-- End .modal-dialog -->
    </div><!-- End .modal -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
<script>
    $(document).ready(function() {
        $('#showAddAddress').click(function(e) {
            e.preventDefault(); 
            $('.card-dashboard').hide(); 
            $('#addAddress').show();
        });
    });
</script>
<script>
    function showEditAddress(id){
        $('.col-lg-6').hide();
        $(`#editAddress${id}`).show();
    }
</script>
<script>
    function showEditDetails(){
        $('#accountDetails').hide();
        $(`#editDetails`).show();
    }
</script>

<script>
    function toaccountDetail(){
        $('#editDetails').hide();
        $(`#accountDetails`).show();
    }
</script>

<script>
    function showWalletHistory(){
        $('#accountDetails').hide();
        $('#walletHistory').show();
    }
</script>

<script>
    function toaccountDetails(){
        $('#walletHistory').hide();
        $(`#accountDetails`).show();
    }
</script>
<script>
    function toOrder(id){
        $('#orderList,#paginationId').hide();
        $(`#orderDetails${id}`).show();
    }
</script>

<script>
    function toOrderlist(id){
        $(`#orderDetails${id}`).hide();
        $('#orderList,#paginationId').show();
    }
</script>

<script>
    function toAddressList(id){
        $(`#editAddress${id}`).hide();
        $('.col-lg-6').show();
    }
</script>
<script>
    function toAddressLists(){
        $(`#addAddress`).hide();
        $('.card-dashboard').show();
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        if (window.location.hash) {
            var element = document.querySelector(window.location.hash);
            if (element) {
                element.scrollIntoView();
            }
        }
    });
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('form[action="/editAddress"]');
            
            form.addEventListener('submit', async function(event) {
                event.preventDefault(); 
    
                const formData = new FormData(form);
                const data = Object.fromEntries(formData.entries());
    
                try {
                    const response = await axios.put('/editAddress', data);
                    console.log(response.data);
    
                    if (response.data.success === true) {
                        Swal.fire({
                            position: "center",
                            title: "Success!",
                            text: "Address edited successfully",
                            icon: "success",
                            buttons: false
                        });
                    } else {
                        console.error('Error:', response.data.error);
                        Swal.fire({
                            title: 'Error!',
                            text: 'Failed to edit address.',
                            icon: 'error'
                        });
                    }
                } catch (error) {
                    console.error('Error:', error);
                    Swal.fire({
                        title: 'Error!',
                        text: 'Failed to edit address.',
                        icon: 'error'
                    });
                }
            });
        });
    </script>
    

<script>
    async function deleteAddress(addressId) {
      try {
          const result = await Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
          });
  
          if (result.isConfirmed) {
              const response = await axios.post('/deleteAddress', { addressId });
              if (response.data.success) {
                  const deletedElement = document.getElementById(`cardId${addressId}`).parentNode;
                  deletedElement.parentNode.removeChild(deletedElement);
                
                  Swal.fire('Deleted!', 'Your address has been deleted.', 'success');
              } else {
                  Swal.fire('Error!', 'Failed to delete address.', 'error');
              }
          }
      } catch (error) {
          console.error('Error:', error);
          Swal.fire('Error!', 'Failed to delete address.', 'error');
      }
  }
  </script>

<script>
    function   returnProduct(productId, orderId) {
        Swal.fire({
            title: 'Reason for Return',
            input: 'textarea',
            inputLabel: 'Please provide a reason for return',
            inputPlaceholder: 'Enter your reason here...',
            inputAttributes: {
                autocapitalize: 'off'
            },
            showCancelButton: true,
            confirmButtonText: 'Submit',
            showLoaderOnConfirm: true,
            preConfirm: (reason) => {
                return fetch('/returnProduct', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({productId, orderId, reason })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error(response.statusText);
                    }
                    return response.json();
                })
                .catch(error => {
                    Swal.showValidationMessage(`Request failed: ${error}`);
                });
            },
            allowOutsideClick: () => !Swal.isLoading()
        }).then((result) => {
            if (result.isConfirmed) {
                if (result.value && !result.value.error) {
                    Swal.fire({
                        title: 'Return Request Submitted!',
                        text: 'Your return request has been submitted successfully.',
                        icon: 'success'
                    });
                } else {
                    Swal.fire({
                        title: 'Return Request Failed!',
                        text: result.value.error || 'An error occurred while processing your request.',
                        icon: 'error'
                    });
                }
            }
        })
    }
</script>

<script>
    function cancelOrder(tag, productId, orderId){
        const confirmed = confirm("Are you sure you want to cancel this order?");
        if (confirmed) {
            tag.innerText = 'Cancelled';
            tag.disabled = true;
            fetch(`/cancelOrder?productId=${productId}&orderId=${orderId}`);
        }
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const copyButtons = document.querySelectorAll('.copy-btn');
        copyButtons.forEach(button => {
            button.addEventListener('click', function () {
                const couponCode = button.dataset.couponCode;

                const tempInput = document.createElement('input');
                tempInput.setAttribute('value', couponCode);
                document.body.appendChild(tempInput);
                tempInput.select();
                document.execCommand('copy');
                document.body.removeChild(tempInput);
                alert('Coupon code copied to clipboard: ' + couponCode);
            });
        });
    });
</script>

</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->
</html>